<a >
  <img class="header-logo" src="../../../assets/images/siki-logo.png" alt="">
</a>

@for (item of tmpMenuList; track $index) {
  <ng-container>
    @if (item.list && item.list.length > 0) {
      <a nz-dropdown [nzDropdownMenu]="menu" class="menu-title" [routerLink]="item.path" [queryParams]="{name: 'tom', age: 30}">
        {{ item.name }}
        <nz-icon nzType="caret-down" nzTheme="outline" />
      </a>

      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          @for (subItem of item.list; track $index) {
            <!-- <li nz-menu-item  [routerLink]="subItem.path">{{ subItem.name }}</li> -->
            <li nz-menu-item  (click)="navigateTo(subItem.path)">{{ subItem.name }}</li>
          }
        </ul>
      </nz-dropdown-menu>
    } @else {
      <!-- router link 方式路由以及路由传参1 -->
      <a class="menu-title" [queryParams]="{name: 'jerry', age: 20}" routerLink="{{ item.path }}" routerLinkActive="router-link-active">
        {{ item.name }}
      </a>
    }
  </ng-container>

}

<ng-container>
  <nz-avatar nz-dropdown [nzDropdownMenu]="avatarMenu" class="header-avatar" nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
  <nz-dropdown-menu #avatarMenu="nzDropdownMenu">
    <ul nz-menu nzSelectable>
      <li nz-menu-item (click)="changeTheme('dark')">Theme(Dark)</li>
      <li nz-menu-item (click)="changeTheme('default')">Theme(Default)</li>
    </ul>
  </nz-dropdown-menu>
</ng-container>
